body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoimg{
    width: 19vw;
    height: auto;
}

#resultado{
    background-color: rgba(65, 65, 65, 0.282);
    margin-top: 5vh;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3%;
}